/*
tag
.class
#id
*/
h4 {
  color: yellow;
}
.text-red {
  display: inline;
  font-size: 2em;
  margin: 0;
}
#second {
  color: black;
  background-color: unset;
}
#list {
  display: contents;
  font-family: "Playfair Display", monospace;
}
